doctype html
html
  head
    meta(charset='utf-8')
    title E-Commerce
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 E-Commerce
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/items') Items
        li: a(href='/items/new') New Item

    block content
